/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap'); */

/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
  text-align: center;
} */
/* 
input {
  margin-top: 1%;
  margin-left: 1%;
  font-family: Montserrat, sans-serif;
  padding: 0.5%;
} */

/* .btn {
  font-family: Montserrat, sans-serif;
  transition-duration: 0.1s;
  margin-top: 2%;
  height: 3em;
  width: 7em;
  color: white;
  background-color: #257500;
  border-radius: 7em;
  border: 0;
}

.btn:hover {
  background-color: #1f2706;
  color: rgb(255, 255, 255);
  border-radius: 4em;
} */
